html {
  font-size: 62.5%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

body {
  font-family: "league-gothic", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: $m-size;
  color: #666;
  -webkit-font-smoothing: antialiased;
}

a {
  color: indianred;
}

a:hover {
  color: black;
}


h2 {
  color: #343a40;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.background {
  background-color: #dbdbd9;
  margin-bottom: 0;
}

.is-active {
  font-weight: bold;
}

.nav-cell {
  a {
    font-size: 1.6rem;
  }
}

.container {
}

.room {
  // padding-top: 25px;
  // padding-bottom: 25px;
  .collection-item {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
.moreroom {
  // padding-top: 25px;
  // padding-bottom: 25px;
}

.cool {
  background-image: url("https://cdn.onlyinyourstate.com/wp-content/uploads/2017/11/Strawberry-Hill-Christmas-Tree-Farm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.author {
  margin-top: -27px;
  font-size: 1.3rem;
}

p {
  padding: 10px;
}

.snippet {
  margin-top: 5px !important;
  font-weight: 300;
  font-size: 1.8rem;
}

.blogText {
  padding: 10px 40px;
  text-align: left;
}

.card-title {
  margin-top: -20px;
  padding-top: 10px;
  font-family: sans-serif;
  font-size: 2em;
}

.container {
  width: 60%;
}

.sidebar {
  width: 80%
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.posts {
  font-size: 50px;
  line-height: 50px;
  padding: 40px 0 0 0;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: -2px;
  font-weight: 100;
}

.nav-cell:hover {
  text-decoration: underline;
}

.brand-logo:hover {
  text-decoration: underline;
}

::selection {
  background: #333;
  color: #fff;
}

.post {
  // min-height: 470px !important;
}

.box {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.category {
  text-decoration: underline;
}

.card-flex {
  // flex: 2;
  width: 50%;
  padding: 20px 40px 20px 40px;
}

@media (max-width: 750px) {
  .card-flex {
    width: 100%;
  }
}
.bolder-font {
  font-weight: 700;
}

.overflow-text {
  overflow-wrap: break-word;
  line-height: 20px;
}

.header-image {
  width: 100%;
  height: 150px;
  background-image: url("https://www.desktopbackground.org/download/3440x1440/2012/03/23/363282_graduation-wallpapers-gallery_4657x3126_h.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.header-text {
  margin: 0px;
  padding-top: 50px;
}

.footer {
}

.footer-text {
  margin: 0px;
  padding-top: 50px;
  color: white;
}

.social-icons {
  width: 75px;
  height: 75px;
  padding: 10px;
}
